{{template "base".}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Ini Halaman Home</h1>
                <p>tentang halaman home</p>
                <p>tentang halaman home 2</p>
                <p>tentang halaman home 3</p>
            </div>
        </div>
    </div>
{{end}}}